<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- Static navbar -->
            <div class="navbar navbar-default">
                <div class="navbar-header">
                    <!--можно сделать сссылкой-->
                    <span class="navbar-brand">Домашняя кухня</span>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if (ViewBag.Title == "Главная страница")
                        {
                            <li class="active">@Html.ActionLink("Главная страница", "Index", "Home")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Главная страница", "Index", "Home")</li>
                        }
                        @if (ViewBag.Title == "Рецепты")
                        {
                            <li class="active">@Html.ActionLink("Рецепты", "Search", "Home")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Рецепты", "Search", "Home")</li>
                        }
                    @{
                        if (User.IsInRole("Admin"))
                        {
                            if (ViewBag.Title == "Меню администратора")
                            {
                                <li class="active">@Html.ActionLink("Меню администратора", "Index", "Admin")</li>
                            }
                            else
                            {
                                <li> @Html.ActionLink("Меню администратора", "Index", "Admin") </li>
                            }
                        }
                    }

                    </ul>
                    @{
                        if (User.IsInRole("Moder") || User.IsInRole("Admin") || User.IsInRole("User"))
                        {
                            <form class="nav navbar-nav navbar-right navbar-form">
                                <div class="btn-group">
                                    <div class="form-group">
                                        <button type="button" class="dropdown-toggle btn form-control" data-toggle="dropdown">
                                            <span class="glyphicon glyphicon-user"></span> <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>@Html.ActionLink("Профиль", "Account", "Home")</li>
                                            <li>@Html.ActionLink("Мои рецепты", "MyRecipies", "Home")</li>
                                            <li>@Html.ActionLink("Избранное", "Favorites", "Home")</li>
                                        </ul>
                                    </div>
                                        <div class="form-group">
                                            <a type="button" class="btn btn-success " href="/Account/LogOff">Выйти</a>
                                        </div>
                                </div>
                            </form>
                        }
                        else
                        {
                            <form class="nav navbar-nav navbar-right navbar-form" method="post", action="/Account/Login">
                                <div class="form-group">
                                    <input type="text" placeholder="Логин" class="form-control" name="login">
                                </div>
                                <div class="form-group">
                                    <input type="password" placeholder="Пароль" class="form-control" name="password">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success ">Войти</button>
                                </div>
                                <div class="form-group ">
                                    <a class="btn btn-success form-control" href="../Account/Register">Регистрация</a>
                                </div>
                            </form>
                        }
                    }
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
</div>

<div class="container body-content">
    @RenderBody()
    <hr class="black-border">
    <footer class="text-center">
        <a href="#">Наверх</a>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)

</body>
</html>




