@model HomeKitchen.Models.FavouriteRecipe

@{
    ViewBag.Title = "Подробнее о избранном";
}

<h2>Подробнее о избранном</h2>

<div>
    <h4>Избранное</h4>
    <hr class="black-border"/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Recipe.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipe.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Login)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Назад", "Index")
</p>
