@model HomeKitchen.Models.Step

@{
    ViewBag.Title = "Удаление шага";
}

<h2>Удаление шага</h2>

<h3>Вы уверены, что хотите удалить?</h3>
<div>
    <h4>Шаг</h4>
    <hr class="black-border"/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Receipe.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receipe.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoUrl)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" value="Delete" class="btn btn-default">Удалить</button> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
