
@{
    ViewBag.Title = "Профиль";
}
@model HomeKitchen.Models.User

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Профиль</h2><br>
            <div class="col-md-3">
                <img class="img-circle img-responsive" alt="Фото" src="@Model.UserProfile.PhotoUrl" styles="height:200px; width:200px">
                <br>
                @{
                    if (User.Identity.Name == Model.Login)
                    {
                        <form role="form">
                            <div class="form-group">
                                <a class="btn btn-default form-control" href="MyAccount">Редактировать</a>
                            </div>
                        </form>
                    }
                }


                <p>@Html.ActionLink("Мои рецепты", "MyRecipies", "Home")</p>
                <p>@Html.ActionLink("Избранное", "Favorites", "Home")</p>


            </div>

            <div class="col-md-9">
                <form role="form">
                    <div class="form-horizontal">

                        <div class="form-group">
                            <div class="col-md-2"></div>
                            <label class="col-md-3">Логин</label>
                            <p class="col-md-6">@Model.Login</p>
                            <div class="col-md-1"></div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-2"></div>
                            <label class="col-md-3">Email</label>
                            <p class="col-md-6">@Model.Email</p>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2"></div>
                            <label class="col-md-3">Дата регистрации</label>
                            <p class="col-md-6">@Model.DateOfRegistration</p>
                            <div class="col-md-1"></div>
                        </div>

                        <hr class="black-border">

                        <div class="form-group">
                            <div class="col-md-2"></div>
                            <label class="col-md-3">Имя</label>

                            <p class="col-md-6">@Model.UserProfile.Name</p>
                            <div class="col-md-1"></div>


                        </div>
                        <div class="form-group">
                            <div class="col-md-2"></div>
                            <label class="col-md-3">Пол</label>

                            <p class="col-md-6">@Model.UserProfile.Gender</p>
                            <div class="col-md-1"></div>


                        </div>
                        <div class="form-group">
                            <div class="col-md-2"></div>
                            <label class="col-md-3">Дата рождения</label>


                            <p class="col-md-6">@Model.UserProfile.DateOfBirth</p>
                            <div class="col-md-1"></div>


                        </div>

                    </div>
                </form>


            </div>

        </div>
    </div>
</div>
