@model HomeKitchen.Models.Recipe
@{
    ViewBag.Title = Model.Name;
}
<script>
    function switchFavourite() {
        $.getJSON('/Home/SwitchFavourite/@Model.Id',
            function(data) {
                var buttonFav = document.getElementById('buttonFavourite');

                if (data === true) {
                    buttonFav.innerHTML = `<span class="glyphicon glyphicon-star"></span>`;
                } else {
                    buttonFav.innerHTML = `<span class="glyphicon glyphicon-star-empty"></span>`;
                }
            });

    }

    function switchLikes() {
        $.getJSON('/Home/SwitchLikes/@Model.Id',
            function(data) {
                var buttonFav = document.getElementById('buttonLikes');

                if (data === true) {
                    buttonFav.innerHTML = `<span class="glyphicon glyphicon-heart"></span>`;
                } else {
                    buttonFav.innerHTML = `<span class="glyphicon glyphicon-heart-empty"></span>`;
                }


                $.getJSON('/Home/Likes/@Model.Id',
                    function(data) {
                        var buttonFav = document.getElementById('likes');
                        buttonFav.innerHTML = data;

                    });


            });

    }
</script>

<div class="container">
    <div class="white-panel">
        <div class="row">
            <div class="col-md-12">


            @{
                if (User.Identity.Name == Model.User.Login)
                {
                    <div class="form-group text-center">
                        <a class="btn btn-default " href="~/Views/Home/EditRecipe">Редактировать рецепт</a>
                    </div>
                    <br>

                }
            }

                <h2 class="text-center">@Model.Name</h2><br>

                <div class="col-md-5">
                    <img class="img-rounded img-responsive" alt="Фото" src="../@Model.PhotoUrl">
                    <br>
                </div>
                <div class="col-md-7">
                    <p>
                        @Model.Preview
                    </p>
                    <label>Время пригототовления:</label>
                    <p>@Model.Hours ч. @Model.Minutes мин.</p>
                    <br>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-1">Дата:</label>
                            <p class="col-md-4">@Model.DateOfCreation</p>
                            <label class="col-md-1">Автор:</label>
                            <a class="col-md-4" href="~/Home/Account/@Model.User.Id">@Model.User.Login</a>
                        </div>
                    </div>


                    @if (User.Identity.IsAuthenticated)
                    {
                        <button class="btn btn-default col-md-1" type="submit" id="buttonLikes" onclick="switchLikes()">
                            @{
                                if (Model.RecipeRating.FirstOrDefault(i => i.User.Login == User.Identity.Name) != null)
                                {
                                    <span class="glyphicon glyphicon-heart"></span>
                                }
                                else
                                {
                                    <span class="glyphicon glyphicon-heart-empty"></span>
                                }
                            }
                        </button>
                        <h4 class="col-md-1" id="likes">@Model.RecipeRating.Sum(i => i.Rating)</h4>
                    }
                    else
                    {
                        <h4 class="col-md-2" id="likes"><span class="glyphicon glyphicon-heart-empty"></span> @Model.RecipeRating.Sum(i => i.Rating)</h4>
                    }

                    <div class="col-md-1"></div>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <button class="btn btn-default col-md-1" type="submit" id="buttonFavourite" onclick="switchFavourite()">
                            @{
                                if (Model.FavouriteRecipe.FirstOrDefault(i => i.User.Login == User.Identity.Name) != null)
                                {
                                    <span class="glyphicon glyphicon-star"></span>
                                }
                                else
                                {
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                }
                            }
                        </button>
                        <h5 class="col-md-1">Избранное</h5>
                    }
                    else
                    {
                        <h5 class="col-md-4"><span class="glyphicon glyphicon-star-empty btn-lg"></span> Избранное</h5>
                    }

                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal">
                    <label class="col-md-1 control-label">Теги: </label>
                    <div class="col-md-11">
                        <ul>
                            @{
                                foreach (var tag in Model.Tags)
                                {
                                    <li class="btn">
                                        <a class="btn btn-default" href="../Search?tags=@tag.Tag.Name">@tag.Tag.Name</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center">Ингредиенты</h4><br>
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <ol>


                        @{
                            foreach (var ingredient in Model.RecipeIngredient)
                            {
                                <li>@ingredient.Ingredient.Name @ingredient.Amount @ingredient.Measure.Name</li>
                            }
                        }
                    </ol>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center">Приготовление</h4><br>
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <ol>
                        @{
                            foreach (var step in Model.Steps)
                            {
                                <li>
                                    <p>@step.Text</p>
                                    <br>
                                    <img class="img-rounded img-responsive" alt="Фото" src="../@step.PhotoUrl">
                                    <br>
                                </li>
                            }
                        }


                    </ol>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
    <hr class="black-border">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center">Комментарии</h4><br>
            <div class="form-horizontal">

                <form class="form-group" method="post" action="/Home/SendMessage">
                    <div class="col-md-1">
                        <img class="img-circle img-responsive" alt="Фото" styles="height:50px, width:50px" src="../@Model.User.UserProfile.PhotoUrl">
                    </div>
                    <div class="col-md-11">
                        <label class="col-md-2">@User.Identity.Name</label>
                    </div>
                    <div class="col-md-11">
                        <textarea class="form-control" placeholder="Введите комментарий..." rows="3" name="text"></textarea>
                        <button class="btn btn-default " type="submit" name="idRecipe" value="@Model.Id">Отправить</button>
                    </div>
                </form>

                <br>
                @{
                    foreach (var comment in Model.Comments.OrderByDescending(i => i.Date))
                    {
                        <div class="form-group">
                            <div class="col-md-1">
                                <img class="img-circle img-responsive" alt="Фото" styles="height:50px; width:50px" src="../@comment.User.UserProfile.PhotoUrl">
                            </div>
                            <div class="col-md-11">
                                <label class="col-md-2">@comment.User.Login</label>
                                <label class="col-md-4">@comment.Date</label>
                            </div>
                            <div class="col-md-11">
                                <p>@comment.Text</p>
                            </div>
                        </div>
                    }
                }

            </div>

        </div>
    </div>
</div>