@model HomeKitchen.Models.Recipe
@{
    ViewBag.Title = Model.Name;
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">@Model.Name</h2><br>

            <div class="col-md-5">
                <img class="img-rounded img-responsive" alt="Фото" src="@Model.PhotoUrl">
                <br>
            </div>
            <div class="col-md-7">
                <p>
                    @Model.Preview
                </p>
                <label>Время пригототовления:</label>
                <p>@Model.CookingTime</p>
                <br>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-1">Дата:</label>
                        <p class="col-md-4">@Model.DateOfCreation</p>
                        <label class="col-md-1">Автор:</label>
                        <a class="col-md-4" href="~/Home/Account/@Model.User.Id">@Model.User.Login</a>
                    </div>
                </div>
                <form class="form-horizontal">
                    <button class="btn btn-default col-md-1" type="submit">
                        <span class="glyphicon glyphicon-heart"></span>
                    </button>
                    <h4 class="col-md-1">5</h4>
                </form>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal">
                <label class="col-md-1 control-label">Теги: </label>
                <div class="col-md-11">
                    <ul>
                       @{
                           foreach (var tag in Model.Tags)
                           {
                            <li class="btn btn-default">@tag.Tag.Name</li>
                           }
                    }
                    </ul>
                </div>
            </div>
        </div>
    </div>





    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center">Ингредиенты</h4><br>
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <ol>

                   
                    @{
                        foreach (var ingredient in Model.RecipeIngredient)
                        {
                            
                            <li>@ingredient.Ingredient.Name @ingredient.Amount @ingredient.Measure.Name</li>
                            
                        }
                    }
                </ol>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center">Приготовление</h4><br>
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <ol>
                    @{
                        foreach (var step in Model.Steps)
                        {
                            <li>
                                <p>@step.Text</p>
                                <br>
                                <img class="img-rounded img-responsive" alt="Фото" src="@step.PhotoUrl">
                                <br>
                            </li>
                        }
                    }
                    
                   
                </ol>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center">Комментарии</h4><br>
            <div class="form-horizontal">

                <form class="form-group">
                    <div class="col-md-1">
                        <img class="img-circle img-responsive" alt="Фото" styles="height:50px, width:50px" src="@Model.User.UserProfile.PhotoUrl">
                    </div>
                    <div class="col-md-11">
                        <label class="col-md-2">@User.Identity.Name</label>
                    </div>
                    <div class="col-md-11">
                        <textarea class="form-control" placeholder="Введите комментарий..." rows="3"></textarea>
                        <button class="btn btn-default " type="submit">Отправить</button>
                    </div>
                </form>

                <br>
                @{
                    foreach (var comment in Model.Comments)
                    {
                        <div class="form-group">
                            <div class="col-md-1">
                                <img class="img-circle img-responsive" alt="Фото" styles="height:50px; width:50px" src="@comment.User.UserProfile.PhotoUrl">
                            </div>
                            <div class="col-md-11">
                                <label class="col-md-2">@comment.User.Login</label>
                                <label class="col-md-4">@comment.Date</label>
                            </div>
                            <div class="col-md-11">
                                <p>@comment.Text</p>
                            </div>
                        </div>
                    }
                }

            </div>

        </div>
    </div>
</div>