
@{
    ViewBag.Title = "Рецепты";
}
@model HomeKitchen.Models.KitchenContext
<script>
    var params = window
        .location
        .search
        .replace('?', '')
        .split('&')
        .reduce(
        function (p, e) {
            var a = e.split('=');
            p[decodeURIComponent(a[0])] = decodeURIComponent(a[1]);
            return p;
        },
        {}
        );

    console.log(params['tags']);




    $(document).ready(function() {
        $.getJSON('GetRecipies',
            function(data) {
                fill(data);
            });
    });

    function fill(data) {
        var container = document.getElementById("listRecipies");
        container.innerHTML = "";

        var i = 0;
        $.each(data,
            function(key, val) {

                var div = document.createElement('div');
                div.classList.add('col-md-4');
                div.classList.add('text-center');


                var img = document.createElement('img');
                img.classList.add("img-rounded");
                img.classList.add("img-responsive");
                img.setAttribute('alt', "Картинка");
                img.setAttribute('src', val['PhotoUrl']);
//                img.style.width = '140px';
//                img.style.height = '140px';

                var h2 = document.createElement('h2');
                h2.innerText = val['Name'];

                var p = document.createElement('p');
                p.innerText = val['Preview'];

                var p2 = document.createElement('p');
                p2.innerText = "";
                var span = document.createElement('span');
                span.classList.add("navbar-left");
                span.classList.add("glyphicon");
                span.classList.add("glyphicon-heart");
                p2.appendChild(span);
                var span2 = document.createElement('span');
                span2.classList.add("navbar-left");
                span2.innerText = val['Likes'];
                p2.appendChild(span2);
                var span1 = document.createElement('span');
                span1.classList.add("navbar-right");
                span1.classList.add("glyphicon");
                if (val['Favourite'] === true) {
                    span1.classList.add("glyphicon-star"); // избранное
                } else {
                    span1.classList.add("glyphicon-star-empty"); // не избранное
                }

                p2.appendChild(span1);

                var br = document.createElement('br');

                var a = document.createElement('a');
                a.classList.add('btn');
                a.classList.add('btn-default');
                a.setAttribute('href', 'Recipe/' + val['Id']);
                a.setAttribute('role', 'button');
                a.innerText = 'Подробнее >>';
                var p1 = document.createElement('p');
                p1.innerText = "";
                p1.appendChild(a);

                div.appendChild(img);
                div.appendChild(h2);
                div.appendChild(p);
                div.appendChild(p2);
                div.appendChild(br);
                div.appendChild(p1);


                container.appendChild(div);
                i++;


            });
    }

    function sendTags() {
        $.post('GetRecipies',
            $("#search").serialize(),
            function(data) {
                fill(data);
            });
    }


</script>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="panel-group" id="accordion">
                <form name="search" id="search">

                    <div class="form-group">
                        <input type="text" class="form-control black-border" placeholder="Поиск" name="searchText" oninput="sendTags()">
                    </div>

                    <br>

                    @{

                        foreach (var category in Model.Categorys.Where(i=>i.Name!="Прочее"))
                        {
                            <div class="panel panel-default black-border">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#@category.Name">@category.Name</a>
                                    </h4>
                                </div>
                                <div id="@category.Name" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        @{
                                            foreach (var tag in category.Tags)
                                            {
                                                <div class="checkbox">
                                                    
                                                    
                                                    @{
                                                        if (Request.Params["tags"] == tag.Name)
                                                        {
                                                            <label><input type="checkbox" checked value="@tag.Name" name="tags" onchange="sendTags()">@tag.Name</label>
                                                        }
                                                        else
                                                        {
                                                            <label><input type="checkbox" value="@tag.Name" name="tags" onchange="sendTags()">@tag.Name</label>
                                                        }
                                                    }
                                                        
                                                </div>
                                            }
                                        }

                                    </div>
                                </div>
                            </div>
                        }
                    }
                    @{

                       
                            <div class="panel panel-default black-border">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#Ингридиенты">Ингридиенты</a>
                                    </h4>
                                </div>
                                <div id="Ингридиенты" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        @{
                                            foreach (var ingredient in Model.Ingredients.Where(i=>i.Permission!=0) )
                                            {
                                                <div class="checkbox">


                                                   
                                                    
                                                            <label><input type="checkbox" value="@ingredient.Name" name="ingredients" onchange="sendTags()">@ingredient.Name</label>
                                                   

                                                </div>
                                                  }
                                        }

                                    </div>
                                </div>
                            </div>
                                                      
                    }
                    <br>
                </form>
            </div>
        </div>

        <div class="col-md-9 white-panel">
            <div id="listRecipies">
            </div>
        </div>
    </div>

</div>




