
@{
    ViewBag.Title = "Index";
}

<h2>Admin Menu</h2>

<ul >
    <li>@Html.ActionLink("Категории", "Index", "Categories")</li>
    <li>@Html.ActionLink("Комментарии", "Index", "Comments")</li>
    <li>@Html.ActionLink("Избранные рецепты", "Index", "FavouriteRecipes")</li>
    <li>@Html.ActionLink("Ингредиенты", "Index", "Ingredients")</li>
    <li>@Html.ActionLink("Единицы измерения", "Index", "Measures")</li>
    <li>@Html.ActionLink("Ингридиенты для рецетов", "Index", "RecipeIngredients")</li>
    <li>@Html.ActionLink("Рейтинг рецептов", "Index", "RecipeRatings")</li>
    <li>@Html.ActionLink("Рецепты", "Index", "Recipes")</li>
    <li>@Html.ActionLink("Роли", "Index", "Roles")</li>
    <li>@Html.ActionLink("Шаги", "Index", "Steps")</li>
    <li>@Html.ActionLink("Тэги для рецептов", "Index", "TagRecipes")</li>
    <li>@Html.ActionLink("Тэги", "Index", "Tags")</li>
    <li>@Html.ActionLink("Информация пользователей", "Index", "UserProfiles")</li>
    <li>@Html.ActionLink("Пользователи", "Index", "Users")</li>
</ul>